html{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    color: #624735;
    background-image: url("/static/img/menu_backimg.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}

@media (max-width: 900px) {
    body{
        background-image: url("/static/img/menu_backimg_mobile.png");
    }
}

/* header， mainタグのスタイル ---------------------------------------------------------------------------------------------------------- */
header, main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* hタグのスタイル ---------------------------------------------------------------------------------------------------------- */
/* 一人暮らしの味方 */
h1 {
    color: #624735;
    text-align: center;
    margin-bottom: 0rem; /* h1とh2の間のスペースをなくすためにmargin-bottomを0に設定 */
}

/* 今日の献立 */
h2 {
    color: #624735;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    background-color: antiquewhite;
    width: 40rem;
    padding: 0.5rem;
    border-radius: 3rem;
    margin-bottom: 0rem;
}

/* hrタグのスタイル ---------------------------------------------------------------------------------------------------------- */
hr {
    border: none;
    height: 0.2rem;
    background-color: rgba(120, 90, 60, 0.6);
    width: 90%;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}


/* pタグのスタイル ---------------------------------------------------------------------------------------------------------- */
p {
    text-align: justify;
}

/* カードコンテナのスタイル*/
.card_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.new_edit_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.search {
    width: 36rem;
    height: 36rem;
}



.before_split {
    width: 36rem;
    height: 17rem;
}

.before_split:hover, .search:hover{
    transform: translateY(-1rem); /* hover時に少し浮き上がる */
}

.before_split, .search {
    box-sizing: border-box;
    padding: 3rem;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0.3);
    color: #624735;
    box-shadow: 0rem 0.3rem 0.7rem rgba(89, 43, 8, 0.3);
    text-decoration: none;
    transition: transform 0.2s ease; 
    overflow: hidden;
}

/*カード内部のテキストのスタイル*/
.innertext {
    font-size: 1.4rem; 
    font-weight: normal
}

/* 分割前のカードの画像のスタイル */
.before_split_img {
    width: 450px;
    margin-top: -150px;
    margin-right: -150px;
}

/*分割後のカードの画像のスタイル*/
.after_split_img {
    margin-top: -100px;
    margin-left: -50px;
    position: relative;
    z-index: -1;
    opacity: 0.5;
}

#search, #new, #edit {
    color: #624735;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: justify;
}


/* jsで表示する要素のスタイル ---------------------------------------------------------------------------------------------------------- */
.hidden {
  display: none;
}

/* ふやすカードとととのえるカードの同じ場所で入れ替えるための枠 */
.split {
    position: relative;
    width: 36rem;
    height: 17rem;
}

/* 分割前と分割後の要素を同じ場所に重ねるためのスタイル */
.split > .before_split,
.split > .after_split {
    position: absolute;
    inset: 0;
}

.after_split {
    display: none;
    justify-content: center;
    gap: 2rem;
    align-items: stretch;

    opacity: 0;
    transition: opacity 0.2s ease;
}

#new_ing, #new_dish, #edit_ing, #edit_dish {
    overflow: hidden;
}

#divcard_edit, #divcard_new {
    display: none;
}

#divcard_new a {
    background-color: rgba(255, 255, 255, 0.3);
    color: #624735;
    font-size: 2.4rem;
    font-weight: bold;
    width: 17rem;
    height: 17rem;
    padding: 3rem;
    border-radius: 3rem;
    text-decoration: none;
    box-shadow: 0rem 0.2rem 0.5rem rgba(89, 43, 8, 0.3);
    box-sizing: border-box;
    transition: transform 0.2s ease;
}

#divcard_new a:hover {
    transform: translateY(-0.5rem);
}

#divcard_edit a {
    background-color: rgba(255, 255, 255, 0.3);
    color: #624735;
    font-size: 2.4rem;
    font-weight: bold;
    width: 17rem;
    height: 17rem;
    padding: 3rem;
    border-radius: 3rem;
    text-decoration: none;
    box-shadow: 0rem 0.2rem 0.5rem rgba(89, 43, 8, 0.3);
    box-sizing: border-box;
    transition: transform 0.2s ease;
}

#divcard_edit a:hover {
    transform: translateY(-0.5rem);
}












