html{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    color: #624735;
    background-image: url("/static/img/menu_backimg.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}

@media (max-width: 900px) {
    body{
        background-image: url("/static/img/menu_backimg_mobile.png");
    }
}

/* header， mainタグのスタイル ---------------------------------------------------------------------------------------------------------- */
header, main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* hタグのスタイル ---------------------------------------------------------------------------------------------------------- */
/* 一人暮らしの味方 */
h1 {
    color: #624735;
    text-align: center;
    margin-bottom: 0rem; /* h1とh2の間のスペースをなくすためにmargin-bottomを0に設定 */
}

/* 今日の献立 */
h2 {
    color: #624735;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    background-color: antiquewhite;
    width: 40rem;
    padding: 0.5rem;
    border-radius: 3rem;
    margin-bottom: 0rem;
}

/* hrタグのスタイル ---------------------------------------------------------------------------------------------------------- */
hr {
    border: none;
    height: 0.2rem;
    background-color: rgba(120, 90, 60, 0.6);
    width: 90%;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}


/* pタグのスタイル ---------------------------------------------------------------------------------------------------------- */
p {
    text-align: justify;
}

/* セレクトメニューのスタイル*/
.selecter_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.new_edit_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.search {
    width: 36rem;
    height: 36rem;
}

.new_edit {
    width: 36rem;
    height: 17rem;
}

.new_edit:hover, .search:hover{
    transform: translateY(-0.5rem); /* hover時に少し浮き上がる */
}

.new_edit, .search {
    box-sizing: border-box;
    padding: 3rem;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0.3);
    color: #624735;
    box-shadow: 0rem 0.3rem 0.7rem rgba(89, 43, 8, 0.3);
    text-decoration: none;
    transition: transform 0.2s ease; 
}

#search, #new, #edit {
    color: #624735;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: justify;
}








