/* header， formタグのスタイル ---------------------------------------------------------------------------------------------------------- */
header, form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    width: 80%;
    max-width: 40rem;
    height: 22rem;
    padding: 1.5rem;
    border-radius: 3rem;
    box-shadow: 0rem 0.3rem 0.7rem rgba(89, 43, 8, 0.3);
    margin-bottom: 1rem; /* 各カテゴリーの間にスペースを追加 */
}

/* inputタグのスタイル ---------------------------------------------------------------------------------------------------------- */
input[type="text"] {
    width: 76%;
    padding: 0.5rem 0.8rem;      
    border: 0.1rem solid #ccc;
    border-radius: 0.8rem;
    margin-top: 0.8rem;
    font-size: 1.6rem;
}

select {
    width: 80%;
    padding: 0.5rem 0.8rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
}

/* ボタンのスタイル ---------------------------------------------------------------------------------------------------------- */
button {
    background-color: #C2A387;
    box-shadow: 0rem 0.3rem 0.7rem rgba(89, 43, 8, 0.3);
    border: none;
    border-radius: 3rem;
    width: 20rem;
    padding: 1.2rem 3rem;
    cursor: pointer;
    transition: transform 0.2s ease; /* hover時のアニメーション */
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: bold;
    display: block; /* ボタンを中央に配置 */
    margin: 0 auto; /* ボタンを中央に配置 */
}   

button:hover{
    transform: translateY(-0.5rem); /* hover時に少し浮き上がる */
}

