html{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    color: #624735;
    background-image: url("/static/img/menu_backimg.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}

@media (max-width: 900px) {
    body{
        background-image: url("/static/img/menu_backimg_mobile.png");
    }
}

/* header， mainタグのスタイル ---------------------------------------------------------------------------------------------------------- */
header, main{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* hタグのスタイル ---------------------------------------------------------------------------------------------------------- */
h1 {
    color: #624735;
    text-align: center;
    margin-bottom: 0rem; /* h1とh2の間のスペースをなくすためにmargin-bottomを0に設定 */
}

h2 {
    color: #624735;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    background-color: antiquewhite;
    width: 55%;
    max-width: 20rem; /*基本はwidthの50%で、最大幅は20remに制限*/
    padding: 0.5rem;
    border-radius: 3rem;
    margin-bottom: 0rem;
}

/* hrタグのスタイル ---------------------------------------------------------------------------------------------------------- */
hr {
    border: none;
    height: 0.2rem;
    background-color: rgba(120, 90, 60, 0.6);
    width: 90%;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}


/* aタグのスタイル ---------------------------------------------------------------------------------------------------------- */
a {
    background-color: rgba(255, 255, 255, 0.3);
    width: 50%;
    max-width: 20rem;
    padding: 1rem;
    border-radius: 1.5rem;
    box-shadow: 0rem 0.3rem 0.7rem rgba(89, 43, 8, 0.3);
    text-decoration: none;
    color: #624735;
    text-align: center;
    font-size: 1.6rem;
    transition: transform 0.2s ease; /* hover時のアニメーション */
}

a:hover{
    transform: translateY(-0.5rem); /* hover時に少し浮き上がる */
}


/* pタグのスタイル ---------------------------------------------------------------------------------------------------------- */
p {
    text-align: justify;
    width: 80%;
    max-width: fit-content; /* テキストの幅を内容に合わせて調整 */
}



/* sectionタグのスタイル(各カテゴリーのスタイル) ---------------------------------------------------------------------------------------------------------- */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step { 
    display: block;
    width: 90%;
    max-width: 100rem;
    margin: 0 auto; /* h3を中央に配置 */
    background-color: rgba(210, 129, 67, 0.284);
    text-align: center;
    padding: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

h3{ 
    display: block;
    width: 40%;
    max-width: 20rem;
    margin: 0 auto; /* h3を中央に配置 */
    background-color: rgba(210, 129, 67, 0.284);
    text-align: center;
    padding: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

input[type="text"] {
    width: 50%;
    max-width: 20rem;
    padding: 0.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

section {
    background-color: rgba(255, 255, 255, 0.75);
    width: 90%;
    max-height: 20rem;
    padding: 0.2rem 0.2rem 1.6rem 0.2rem;
    border-radius: 1.5rem;
    box-shadow: 0rem 0.3rem 0.7rem rgba(89, 43, 8, 0.3);
    margin-bottom: 1rem; /* 各カテゴリーの間にスペースを追加 */
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    justify-items: justify;
    margin-left: 1rem;
}

.empty_message {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    width: 1.4rem;
    height: 1.4rem;
}


/* ボタンのスタイル ---------------------------------------------------------------------------------------------------------- */
button {
    background-color: #C2A387;
    box-shadow: 0rem 0.3rem 0.7rem rgba(89, 43, 8, 0.3);
    border: none;
    border-radius: 2rem;
    padding: 1.5rem 4rem;
    cursor: pointer;
    transition: transform 0.2s ease; /* hover時のアニメーション */
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: bold;
}   

button:hover{
    transform: translateY(-0.5rem); /* hover時に少し浮き上がる */
}

/* footerのスタイル ---------------------------------------------------------------------------------------------------------- */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    background-color: rgba(255, 255, 255, 0.3);
    width: 50%;
    max-width: 20rem;
    padding: 1rem;
    border-radius: 1.5rem;
    box-shadow: 0rem 0.3rem 0.7rem rgba(89, 43, 8, 0.3);
    text-decoration: none;
    color: #624735;
    text-align: center;
    font-size: 1.5rem;
    transition: transform 0.2s ease; /* hover時のアニメーション */
}

footer a:hover{
    transform: translateY(-0.5rem); /* hover時に少し浮き上がる */
    border:rgba(89, 43, 8, 0.3) solid 0.3rem; /* hover時にborderを追加 */
}



