/* header， mainタグのスタイル ---------------------------------------------------------------------------------------------------------- */
header, main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 検索結果の料理名のスタイル ---------------------------------------------------------------------------------------------------------- */
h3{ 
    color: #624735;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

/* result-cardのスタイル ---------------------------------------------------------------------------------------------------------- */
.result-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

@media (max-width: 900px) {
    .result-card-container {
        grid-template-columns: 1fr; /* 画面幅が900px以下の場合は1列にする */
    }
}

.result-card {
    /* フォント設定 */
    font-size: 1.6rem;

    /* ボックス設定 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 36rem;
    height: fit-content;
    padding: 1rem 1rem 1rem 3rem;
    border-radius: 3rem;
    box-shadow: 0rem 0.3rem 0.7rem rgba(89, 43, 8, 0.3);
    margin-bottom: 1rem; /* カード間のスペース */

    /* 色設定 */
    background-color: rgba(255, 255, 255, 0.75); 
}

.result-card a { 
    margin: 1rem;
    width: 60%;
    max-width: 30rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
    background-color: antiquewhite;
}


/* 「レシピを検索」ボタンのスタイル ---------------------------------------------------------------------------------------------------------- */
#search-recipe {
    /* フォント設定 */
    text-align: center;
    font-size: 1.6rem;
    text-decoration: none;

    /* ボックス設定 */
    width: 50%;
    max-width: 20rem;
    border-radius: 1.5rem;

    /* 色設定 */
    color: rgba(83, 128, 0, 0.825);
    background-color: rgba(83, 128, 0, 0.08);
}

#search-recipe:hover{
    background-color: rgba(83, 128, 0, 0.3);
}


