<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一人暮らしの味方 - ホーム</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu/search.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>一人暮らしの味方</h1>
        <h2>作れる料理をさがす</h2><br>
    </header>
    <hr><br>  
    <main>
        <form method="POST">
            <!-- 料理名入力 -->
            <div class="input_name">
                <h3>① 料理の名前を入力</h3>
                <input type="text" id="edit_dish_name" name="edited_dish_name" value="{{ now_dish.dish_name }}" placeholder="料理名を入力" required><br>
            </div>
            <!-- 材料選択 -->
            <div>
                <h3>② 材料を選択</h3>
                <div class="container">
                {% for cat in cat_list %}
                <div class="category_card">
                    <h3>{{ cat.cat_name }}</h3>
                    <div class="item-grid">
                    {% for ing in ing_list if ing.cat_id == cat.cat_id %}
                        <label>
                            <input type="checkbox" name="edited_ing_id_needed_list" value="{{ ing.ing_id }}">
                            {{ ing.ing_name }}
                        </label>
                    {% else %}
                    <p>材料なし</p>
                    {% endfor %}  
                    </div>
                </div>
                {% endfor %}
                <br>
                <button type="submit" onclick="return confirm('編集します．よろしいですか？')">編集</button>
            </div>
        </form>
    </main>
    <br><hr><br>
    <footer>
        <a href="{{ url_for('index') }}">ホームに戻る</a><br>
    </footer>
</body>
</html>