<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一人暮らしの味方 - ホーム</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>一人暮らしの味方</h1>
        <h2>今日の献立</h2><br>
    </header>
    <hr><br>
    <!-- メニュー -->
    <main>
        <div class="selecter_container">
            <a class="search" href="{{ url_for('search') }}">
                <span id="search">さがす</span>
                <p>登録済みの材料からあるものを選択して，いま作れる料理をさがすことができます．</p>
            </a>
            <div class="new_edit_container">
                <a class="new_edit" href="{{ url_for('index_new') }}">
                    <span id="new">ふやす</span>
                    <p>新しい材料や料理を追加できます．</p>
                </a>
                <a class="new_edit" href="{{ url_for('index_edit') }}">
                    <span id="edit">ととのえる</span>
                    <p>登録済みの材料や料理を編集できます．</p>
                </a>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='javascript/menu/index.js') }}"></script>
</body>
</html>