<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一人暮らしの味方 - ホーム</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>一人暮らしの味方</h1>
        <hr>
        <h2>編集</h2>
        <p>登録済みの材料や料理を編集したり削除したりできます．</p>
    </header>
    <!-- メニュー -->
    <main>
        <a href="{{ url_for('list_ing') }}">材料を編集する</a>
        <br>
        <a href="{{ url_for('list_dish') }}">料理を編集する</a>
        <br>
    </main>
    <br>
    <hr>
    <br>
    <footer>
        <a href="{{ url_for('index') }}">ホームに戻る</a>
        <br>
    </footer>
</body>
</html>