<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一人暮らしの味方 - ホーム</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="topPage">
    <header>
        <h1>一人暮らしの味方</h1>
        <h2>ホーム</h2>
    </header>
    <main>
        <div class="btnContainer">
            <div class="searchBtnArea">
                <a class="searchBtn" href="{{ url_for('search') }}">さがす<br><span>今作れる料理をさがす</span></a>
            </div>
            <div class="newBtnArea" id="newBtnArea">
                <button class="newBtn" id="newBtn">
                    <p>ふやす<br><span>材料や料理を追加</span></p>
                </button>
                <div class="newBtnAreaClicked hidden" id="newBtnAreaClicked">
                    <a class="newIngBtn" href="{{ url_for('new_ing') }}">材料<br><span>をふやす</span></a>
                    <a class="newDishBtn" href="{{ url_for('new_dish') }}">料理<br><span>をふやす</span></a>
                </div>
            </div>
            <div class="editBtnArea" id="editBtnArea">
                <button class="editBtn" id="editBtn">
                    <p>ととのえる<br><span>材料や料理を編集</p></span>
                </button>
                <div class="editBtnAreaClicked hidden" id="editBtnAreaClicked">
                    <a class="editIngBtn" href="{{ url_for('list_ing') }}">材料<br><span>をととのえる</span></a>
                    <a class="editDishBtn" href="{{ url_for('list_dish') }}">料理<br><span>をととのえる</span></a>
                </div>
            </div>
        </div>
    </main>


    <script src="/static/javascript/index.js"></script>
</body>

</html>