<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一人暮らしの味方 - 料理登録</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu/list_ing.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>一人暮らしの味方</h1>
        <h2>作れる料理をさがす</h2><br>
    </header>
    <hr><br>
    <main>
        <div class="container">
            {% for cat in cat_list %}
            <div class="category_card">
                <h3>{{ cat.cat_name }}</h3>
                <div class="item-grid">
                    {% for ing in ing_list if ing.cat_id == cat.cat_id %}
                    <a href="{{ url_for('edit_ing', ing_id=ing.ing_id) }}">{{ ing.ing_name }}</a>
                    {% else %}
                    <p>材料なし</p>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
    <br><hr><br>
    <footer>
        <a href="{{ url_for('index') }}">ホームに戻る</a><br>
    </footer> 
</body>
</html>
