<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一人暮らしの味方 - 料理検索</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu/search.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <h1>一人暮らしの味方</h1>
        <hr>
        <h2>作れる料理をさがす</h2>
        <p>各カテゴリーから材料を選んで作れる料理を検索しましょう(複数選択可).</p>
    </main>
    <form method="POST">
    {% for cat in cat_list %}
        <section>
        <h3>{{ cat.cat_name }}</h3>
        {% for ing in ing_list if ing.cat_id == cat.cat_id %}
        <div class="checkbox-grid">
            <label>
                <input type="checkbox" name="searched_ing_id_list" value="{{ ing.ing_id }}">
                {{ ing.ing_name }}
            </label>
        </div>
        {% else %}
        <div class="empty_message">
            <p>登録されている材料はありません．</p>
        </div>
        {% endfor %}
    </section>
    {% endfor %}
        <!--検索ボタン -->
        <br>
        <button type="submit">さがす</button>
    </form>
    <br>
    <hr>
    <br>
    <footer>
        <a href="{{ url_for('index') }}">ホームに戻る</a>
        <br>
    </footer>
</body>
</html>