<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一人暮らしの味方 - さがす</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu/search + new_dish + edit_dish.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>一人暮らしの味方</h1>
        <h2>さがす</h2><br>
    </header>
    <hr><br>    

   
    <form method="POST">
        <div class="categorycard_container"><!-- カテゴリカードのコンテナ -->
            
            {% for cat in cat_list %}
            <!-- カテゴリカード -->
            <div class="categorycard" style="
            background-image: linear-gradient(rgba(255,255,255, 0.3), rgba(255,255,255,0.3)),
            url('/static/img/category/{{ cat.cat_name }}.png'); ">
                <h3>{{ cat.cat_name }}</h3>
                <div class="checkbox-container">
                {% for ing in ing_list if ing.cat_id == cat.cat_id %}
                    <label>
                        <input type="checkbox" name="searched_ing_id_list" value="{{ ing.ing_id }}">
                        {{ ing.ing_name }}
                    </label>
                {% else %}
                <p>材料なし</p>
                {% endfor %}
                </div>
            </div>
            {% endfor %}

        </div><br><!-- カテゴリカードのコンテナ(終了) -->
        <button type="submit">さがす</button>
    </form>

    <br><hr><br>
    <footer>
        <a href="{{ url_for('index') }}">ホームに戻る</a><br>
    </footer>
</body>
</html>